.container{
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: #707071;
  position: fixed;
  bottom: 0;
}

.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.socials{
  display: flex;
  gap: 10px;
}



@media only screen and (max-width : 840px) {

}
