
.container{
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background: #212427;
  justify-content: center; 
  font-family: 'Righteous';
}

.wrapper{
  display: flex;
  width: 60%;
  margin-top: 150px;
}

.products{
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}





.productDetails{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}

.productTitle{
  height: 60px;
}

.productPrice{
  height: 30px;
}

.productItemWrapper{
  background: rgba(61, 59, 61, 0.486);
  box-shadow: 0 4px 8px 0 rgba(221, 212, 212, 0.2);
  transition: 0.3s;
  
}


.productItemWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 250, 250, 0.2);
}

.productImg{
  width: 100%;
  height: 100%;
}

.productAttr{
  width: 100%;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

.productSpan{
  width: 100%;
  display: flex;
  white-space: nowrap;
  
}

.productButtons{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

.productTotalDiscount{
  text-decoration: line-through;
}
.productDiscount{
  display: flex;
}

.productBuy{
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Bungee', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.productCart{
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Bungee', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.productBuy:hover {
  background-color: #555;
}

.productBuy:active {
  background-color: #222;
}

.productCart:hover {
  background-color: #555;
}

.productCart:active {
  background-color: #222;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    margin-top: 120px;
  }

  .productDetails {
    padding: 5px;
  }

  .productTitle {
    height: auto;
  }

  .productPrice {
    height: auto;
  }

  .productButtons {
    flex-direction: column;
    align-items: center;
  }

  .productBuy,
  .productCart {
    width: 100%;
  }
}
