.container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100vh;
  background: #212427;
  color: aliceblue;
  font-family: 'Righteous';
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 900px; /* Adjust the max-width as needed */
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}


.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

